<article class="blog-post">
    <h2 class="blog-post-title">Пример сообщения в блоге</h2>
    <p class="text-body-secondary">1 января 2021 года <a href="#">Марк Шопоголик</a></p>
    <p>В этом сообщении блога показано несколько различных типов контента, которые поддерживаются и стилизованы с помощью Bootstrap. Как и ожидалось, поддерживаются базовая типографика, списки, таблицы, изображения, код и многое другое.</p>
    <hr>
    <p>Это дополнительный контент-заполнитель абзаца. Он был написан, чтобы заполнить доступное пространство и показать, как более длинный фрагмент текста влияет на окружающий контент. Мы будем повторять это часто, чтобы демонстрация продолжалась, так что ищите точно такую же строку текста.</p>
    <hr>
</article>

<article class="blog-post">
    <h2 class="blog-post-title">Другой пост в блоге</h2>
    <p class="text-body-secondary">23 декабря 2020 г. <a href="#">Модный эксперт</a></p>
    <p>Это дополнительный контент-заполнитель абзаца. Он был написан, чтобы заполнить доступное пространство и показать, как более длинный фрагмент текста влияет на окружающий контент. Мы будем повторять это часто, чтобы демонстрация продолжалась, так что ищите точно такую же строку текста.</p>
    <blockquote>
        <p>Здесь идет более длинная цитата, возможно, с некоторым <strong>выделенным текстом</strong> посередине.</p>
    </blockquote>
    <p>Это дополнительный контент-заполнитель абзаца. Он был написан, чтобы заполнить доступное пространство и показать, как более длинный фрагмент текста влияет на окружающий контент. Мы будем повторять это часто, чтобы демонстрация продолжалась, так что ищите точно такую же строку текста.</p>
    <p>Это дополнительный контент-заполнитель абзаца. Это немного более короткая версия другого часто повторяющегося основного текста, используемого повсюду.</p>
</article>