<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="#">Главная</a>
        <a class="p-2 link-secondary" href="#">Тенденции</a>
        <a class="p-2 link-secondary" href="#">Советы по стилю</a>
        <a class="p-2 link-secondary" href="#">Обзоры</a>
        <a class="p-2 link-secondary" href="#">История</a>
        <a class="p-2 link-secondary" href="#">Интервью</a>
        <a class="p-2 link-secondary" href="#">Шоппинг</a>
    </nav>
</div>