{% extends 'catalog/home.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header text-center">Создать рассылку</h5>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                const repeatSelect = document.getElementById('id_repeat');
                                const startDateTimeInput = document.getElementById('id_start_datetime');
                                const endDateInput = document.getElementById('id_end_date');

                                repeatSelect.addEventListener('change', function() {
                                    if (this.value === 'once') {
                                        endDateInput.disabled = true;
                                    } else {
                                        endDateInput.disabled = false;
                                    }
                                });

                                // Блокируем поля по умолчанию
                                if (repeatSelect.value === 'once') {
                                    endDateInput.disabled = true;
                                }
                            });
                        </script>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="{% url 'mailing:mailing_list' %}" class="btn btn-dark">Назад</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
