{% extends 'blog/base.html' %}

{% load static %}
{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Добавить новый пост</h2>
    <form method="post" enctype="multipart/form-data" class="w-50 mx-auto">
        {% csrf_token %}

        <div class="mb-3">
            <label for="id_name" class="form-label">Заголовок:</label>
            <input type="text" class="form-control" id="id_name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="id_description" class="form-label">Содержимое поста:</label>
            <textarea class="form-control" id="id_description" name="description" rows="3" required></textarea>
        </div>

        <div class="mb-3">
            <label for="id_image" class="form-label">Загрузите изображение:</label>
            <input class="form-control" type="file" id="id_image" name="image" accept="image/*">
        </div>


        <div class="mb-5">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>

    </form>
</div>
{% endblock %}
