{% extends "blog/base.html" %}
{% load blog_tags %}
{% block content %}
<div class="container mb-5 mt-5">
    <div class="row text-center">
        <div class="col-md-6">
            <img src="{{ post.preview_image.url }}" class="img-fluid shadow" alt="{{ post.title }}" style="max-height: 500px; object-fit: contain;">
        </div>
        <div class="col-md-6 text-left d-flex flex-column justify-content-start">
            <h1 class="my-0 font-weight-normal mb-3">{{ post.title }}</h1>
            <p class="fs-5 mb-3" style="text-align: justify;">{{ post.content }}</p>
            <p>Дата создания: {{ post.created_at }}</p>
            <p>Количество просмотров: {{ post.views_count }}</p>
            <div class="d-flex justify-content-end align-items-center mb-3">
                <button type="button" class="btn btn-lg btn-outline-dark me-3">Редактировать</button>
                <a href="{% url 'blog:post_delete' post.pk %}" class="btn btn-lg btn-block btn-outline-dark">Удалить</a>
                <a href="{% url 'blog:all_posts' %}">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
